<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mile High Gopher Events</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
		<link rel="stylesheet" href="/assets/styles.css">
	</head>
	<body>
		<header class="header">
			<img src="/assets/logo.png" alt="mile-high-gophers-logo" class="logo">
		</header>
		<section class="body flex-container">
			{{range .}}
				<div class="flex-1">
					<h1>{{.Label}}</h1>
					<ul>
						{{range .Next 3}}
							<li>
								<dl>
									<dt>{{.HumanTime}}</dt>
									<dd>{{.Name}}</dd>
								</dl>
							</li>
						{{else}}
							<div><strong>No Events</strong></div>
						{{end}}
					</ul>
				</div>
			{{end}}
		</section>
	</body>
</html>
