body {
    font-family: monospace;
}

.header {
    background: url(/assets/hero.jpg);
    background-size: cover;
    background-position: 50% 80%;
    background-repeat: no-repeat;
    height: 400px;
    width: 100vw;
}

.logo {
    width: 200px;
    display: block;
    padding-top: 100px;
    margin: auto;
}

.body {
    width: 1024px;
    margin: auto;
}

.flex-container { display: flex; }
.flex-1 { flex: 1; }
